<div id="top_head">
	<div id="top_nav">
		<div class="navspacelogo">
			<a href="/index" title="logo">
            	<img src="img/logo.png" id="logo"/>
        	</a>
    	</div>
		<div class="navspace">
			<ul>
				<li class="menu-cell a3"><a <% if (page=="My") { %> class="active" <%}%> href="/my">내 정보</a></li>
				<li class="menu-cell a4" style="border-left:none;"><a <% if (page=="Obfuscation") { %> class="active" <%}%> href="/obfuscation">APK난독화</a></li>

				<li class="menu-cell left a1"><a <% if (page=="ObfuscationResult") { %> class="active" <%}%> href="/obfuscation_result">난독화 결과</a></li>
				<li class="menu-cell left a2"><a href="/logout_user">로그아웃</a></li>
			</ul>
		</div>
	</div>
</div>


